layout python python3.7

export DJANGO_SETTINGS_MODULE="issue_tracker.settings.development"
export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://issue-tracker.fletcher.pro:2376"
export DOCKER_CERT_PATH="$HOME/.docker/machine/machines/issue-tracker.fletcher.pro"
export DOCKER_MACHINE_NAME="issue-tracker.fletcher.pro"
export WERKZEUG_DEBUG_PIN="off"
