{% extends "base.html" %}

{% block title %}Новая задача{% endblock %}

{% block content %}
    <div class="create_issue__new_issue">
        <h3>Новая задача</h3>
        <form method="post" action="{{ url('create_issue') }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
                {{ form.title.label_tag() }}
                {{ add_class(form.title, 'form-control') }}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag() }}
                {{ append_attr(add_class(form.description, 'form-control'), 'rows:6') }}
                {{ form.description.errors }}
            </div>
            <div class="form-group">
                {{ form.assignee.label_tag() }}
                {{ add_class(form.assignee, 'form-control') }}
                {{ form.assignee.errors }}
            </div>
            <div class="form-group">
                {{ form.priority.label_tag() }}
                {{ add_class(form.priority, 'form-control') }}
                {{ form.priority.errors }}
            </div>
            <button class="btn btn-success" type="submit">Создать</button>
        </form>

    </div>

{% endblock %}