{% extends "base.html" %}

{% block title %}{{ issue }}{% endblock %}

{% block content %}
    <div class="edit_issue">
        <form method="post" action="{{ url('edit_issue', args=(issue.pk, )) }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
                {{ form.title.label_tag() }}
                {{ add_class(form.title, 'form-control') }}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag() }}
                {{ add_class(form.description, 'form-control') }}
                {{ form.description.errors }}
            </div>
            <div class="form-group">
                {{ form.assignee.label_tag() }}
                {{ add_class(form.assignee, 'form-control') }}
                {{ form.assignee.errors }}
            </div>
            <div class="form-group">
                {{ form.status.label_tag() }}
                {{ add_class(form.status, 'form-control') }}
                {{ form.status.errors }}
            </div>
            <div class="form-group">
                {{ form.priority.label_tag() }}
                {{ add_class(form.priority, 'form-control') }}
                {{ form.priority.errors }}
            </div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}