{% extends 'base.html' %}

{% from 'dashboard_issues_list.html' import render_issues_list %}

{% block title %}Kanban-доска{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="row">
            <div class="col-3 column droppable" data-status="open">
                <div class="dashboard__column_title">
                    Открытые
                </div>
                <div class="dashboard__issues_open">
                    {{ render_issues_list(issues_open) }}
                </div>
            </div>
            <div class="col-3 column droppable" data-status="in_progress">
                <div class="dashboard__column_title">
                    В разработке
                </div>
                <div class="dashboard__issues_in_progress">
                    {{ render_issues_list(issues_in_progress) }}
                </div>
            </div>
            <div class="col-3 column droppable" data-status="testing">
                <div class="dashboard__column_title">
                    В тестировании
                </div>
                <div class="dashboard__issues_testing">
                    {{ render_issues_list(issues_testing) }}
                </div>
            </div>
            <div class="col-3 column droppable" data-status="production">
                <div class="dashboard__column_title">
                    Готово
                </div>
                <div class="dashboard__issues_production">
                    {{ render_issues_list(issues_production) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
